#Filtering and Sorting

In [ ]:
1.

SELECT *
FROM employees
WHERE Department IN ('IT', 'HR');

In [ ]:
2.

SELECT *
FROM employees
WHERE Department IN ('Sales', 'IT', 'Finance');

In [ ]:
3.

SELECT *
FROM employees
WHERE Salary BETWEEN 50000 AND 70000;

In [ ]:
4.

SELECT *
FROM employees
WHERE EmpName LIKE 'A%';

In [ ]:
5.

SELECT *
FROM employees
WHERE EmpName LIKE '%an%';

In [ ]:
6.

SELECT *
FROM employees
WHERE City IN ('Delhi', 'Mumbai')
   AND Salary > 55000;

In [ ]:
7.

SELECT *
FROM employees
WHERE Deparatment <> 'HR';

In [ ]:
8.

SELECT *
FROM employees
WHERE HireDate BETWEEN '2019-01-01' AND '2022-12-31';
ORDER BY HireDate ASC;